@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300..700&display=swap');
/* Reset styles */
* {
    margin: 0;
    padding: 0;
    font-family: "Signika", sans-serif;
}

body {
    background-image: linear-gradient(to top, #131313, #181818);
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    overflow-x: hidden;
}
/* End Reset styles */

/* Main styles */
.nav-menu-mobile__header {
    position: relative;
}

.nav-menu-mobile {
    background: #131313;
    position: fixed;
    left: -430px;
    bottom: 0;
    top: 0;
    right: 0;
    z-index: 10;
    max-width: 350px;
    padding: 40px;
    transition: .3s all linear;
}

.menu-mobile--toggle {
    left: 0;
}

.menu-mobile__link {
    color: white;
    font-size: 18px;
    transition: .3s all linear;
}

.menu-mobile__link:hover {
    transform: scale(1.1);
    color: violet;
}

.menu-mobile__list {
    margin-bottom: 30px;
}

.logotipo.nav-menu-mobile__logotipo {
    margin-bottom: 50px;
    display: block;
    width: fit-content;
}

#close-icon {
    position: absolute;
    right: 0;
    transform: rotateY(-50%);
    top: 50%;
    cursor: pointer;
    width: 20px;
    height: 20px;
}

#close-icon:hover#close-icon:before,
#close-icon:hover#close-icon:after {
    background: violet;
}

#close-icon:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 2px;
    background: white;
    transform: rotate(-45deg);
}

#close-icon:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    background: white;
    transform: rotate(45deg);
    z-index: 11;
    height: 2px;
}

#main {
    background-image: url(img/bg-main.png);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center center;
    height: 100vh;
    width: 100%;
}

#main:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    background-image: linear-gradient(to right, rgba(0,0,0, 1), rgba(0,0,0, 0));
    z-index: 2;
    height: 100%;
    width: 100%;
    max-width: 750px;
}

.main-navigation__toggle {
    display: none;
    background: none;
    border: none;
    font-size: 0;
    cursor: pointer;
    margin: 0;
    padding: 0;
}

.main-navigation__toggle img {
    display: block;
    fill: white;
}

header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 4;
    background-image: linear-gradient(to right, rgb(0 0 255 / 10%), rgb(102 0 255 / 61%));
}

.main-navigation,
.main-info,
.about__content,
.skills__content,
.talk-to-me__content,
#services {
    max-width: 1300px;
    margin: 0 auto;
}

.main-info {
    padding: 0 30px;
    position: relative;
    z-index: 3;
}

header {
    padding: 40px 30px;
}

.logotipo {
    font-family: "Signika", sans-serif;
    font-size: 2.3em;
    font-weight: bold;
    letter-spacing: 1.1px;
    transition: .3s all linear;
    color: white;
}

.logotipo:hover {
    transform: scale(1.1);
    color: rgba(255,255,255, .6);
}

.main-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navigation {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    gap: 50px;
}

.navigation__link {
    font-size: 1.1em;
    transition: .3s all linear;
    display: block;
    font-weight: 600;
    color: white;
}

.navigation__link:hover {
    transform: scale(1.1);
    color: rgba(255,255,255, .6);
}

.main-info {
    color: white;
    position: relative;
    padding-top: 300px;
    display: flex;
    flex-direction: column;
}

.main-info__title {
    order: 2;
    font-size: 4.3em;
    font-weight: 700;
    letter-spacing: 1px;
}

.main-info__title--nivel-2 {
    order: 1;
    font-weight: 500;
    font-size: 1em;
    font-family: "open sans";
    color: violet;
}

.main-info__title--nivel-3 {
    order: 3;
    font-size: 1.4em;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.main-info__description {
    order: 4;
    font-size: 1.2em;
    max-width: 500px;
    letter-spacing: 1px;
}

.main-info__description + .main-info__description {
    margin-top: 15px;
}

@media(max-width: 992px) {
    .main-info {
        text-align: center;
        justify-content: center;
        align-items: center;
        padding-top: 250px;
    }

    .main-navigation .navigation {
        display: none;
    }

    .main-navigation__toggle {
        display: block;
    }
}

@media(max-width: 576px) {
    .main-info__title {
        font-size: 40px;
    }

    .main-info__title--nivel-3 {
        font-size: 1.1em;
    }

    .main-info__description {
        font-size: 1em;
    }
}
/* End Main styles */

/* About styles */
.about {
    background: #131313;
    color: white;
}

.about__content {
    padding: 100px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}

.about__img {
    border-radius: 100%;
    display: block;
    object-fit: cover;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 5px 10px rgba(169, 1, 192, 0.1);
}

.about__info {
    max-width: 500px;
}

.about__title {
    font-size: 4.3em;
    font-weight: 700;
    letter-spacing: 1px;
}

.about__subtitle {
    font-size: 1.4em;
    margin-bottom: 40px;
    letter-spacing: 1px;
}

.about__description {
    font-size: 1.2em;
    max-width: 500px;
    letter-spacing: 1px;
    color: violet;
}

.about__description + .about__description {
    margin-top: 15px;
}

.about__btn,
.skills__btn,
.talk-to-me__btn,
.card__portfolio-btn {
    border-radius: 30px;
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(102, 0, 255));
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    font-size: 0;
    display: block;
    margin-top: 50px;
    transition: .3s all linear;
}

.about__btn:hover,
.skills__btn:hover,
.talk-to-me__btn:hover,
.card__portfolio-btn:hover {
    transform: scale(1.1);
}

.about__btn a,
.skills__btn a,
.talk-to-me__btn a {
    color: white;
    font-size: 16px;
}

@media(max-width: 992px) {
    .about__btn {
        margin: 50px auto 0;
    }

    .about__content {
        flex-direction: column;
    }

    .about__title,
    .about__description,
    .about__subtitle {
        text-align: center;
    }
}

@media(max-width: 576px) {
    .about__title {
        font-size: 40px;
    }

    .about__subtitle {
        font-size: 1.1em;
    }

    .about__description {
        font-size: 1em;
    }
}
/* End About styles */

/* Skills Styles */
.skills {
    background: black;
    color: white;
    padding: 100px 0;
}

.skills__content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
}

.skills__info {
    max-width: 400px;
    text-align: center;
    border: 8px solid #131313;
    border-radius: 20px;
    padding: 40px;
}

.skills__title {
    font-size: 4.3em;
    font-weight: 700;
    letter-spacing: 1px;
    margin: 0 auto 50px;
    width: fit-content;
}

.skills__icon {
    font-size: 60px;
    margin: 0 auto 30px;
    display: block;
    max-width: 60px;
}

.skills__subtitle {
    font-size: 24px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.skills__btn {
    margin: 50px auto 0;
}

.skills__description {
    color: violet;
}

@media(max-width: 576px) {
    .skills__title {
        font-size: 40px;
    }
}
/* End Skills Styles */

/* Talk to me Styles */
.talk-to-me {
    color: white;
    padding: 100px 0;
    text-align: center;
}

.talk-to-me__title {
    font-size: 30px;
    letter-spacing: 1px;
}

.talk-to-me__btn {
    margin: 20px auto 0;
}
/* End Talk to me Styles */

/* Services Styles */
#services {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    flex-wrap: wrap;
    gap: 20px;
}

.card__portfolio {
    max-width: 500px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0,0,0, .1);
    color: white;
    border: 8px solid rgba(255,255,255, .1);
    text-align: center;
    overflow: hidden;
}

.card__portfolio-img {
    width: 100%;
    object-fit: cover;
    max-height: 250px;
    min-height: 250px;
}

.card__portfolio-info {
    padding: 30px;
}

.card__portfolio-info p {
    font-size: 14px;
}

.card__portfolio-info h2 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 30px 0;
}

.card__portfolio-btn {
    display: block;
    font-size: 16px;
    color: white;
    word-break: break-word;
}
/* End Services Styles */

/* Float Whatsapp */
#float-whatsapp {
    position:fixed;
    width:60px;
    height:60px;
    bottom:30px;
    right:30px;
    background-color:#25d366;
    color:#FFF;
    border-radius:50px;
    text-align:center;
    font-size:30px;
    box-shadow: 1px 1px 2px #888;
    z-index:1000;
}
/* End Float Whatsapp */

/* Footer Styles */
.footer {
    background: black;
    text-align: center;
    color: white;
    padding: 100px 30px;
}

.footer__copyright {
    color: violet;
}

.footer__title {
    font-size: 30px;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.footer__link {
    display: inline-block;
    background-image: linear-gradient(to right, rgb(0, 0, 255), rgb(102, 0, 255));
    border-radius: 100%;
    width: 45px;
    height: 45px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto 100px;
}

.footer__icon {
    font-size: 24px;
}
/* End Footer Styles */
